.App {
  text-align: center;
}

.workspace {
  overflow-y: auto;
  /* @apply grid grid-flow-row-dense max-h-[88vh] mx-0 min-h-[88vh] overflow-y-auto; */
  @apply block max-h-[88vh] mx-0 min-h-[88vh] overflow-y-auto;
  /* @apply space-y-6; */
  @apply rounded-[28px];
  @apply pt-8;


  &::-webkit-scrollbar {
    width: 6px;
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/10;
    @apply rounded-full;
    @apply py-4 my-4;
  }

  &::-webkit-scrollbar-track {
    /* Same as background. Keeping it subtle */
    @apply bg-transparent;
    @apply rounded-sm;
  }

	@media (prefers-color-scheme: dark) { }
}

.workspace section {
    @apply bg-background;
    @apply h-fit;
    @apply mx-4 mb-4 p-8;
    @apply rounded-3xl;
  
}


.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

.items {
  display: grid;
  gap: 1rem;
}

.item .avatar {
  border-radius: 1000px;
  border: 1px solid #ccc;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #cccccc30;
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 70%;
  max-width: 600px;
  margin-inline: auto;
  justify-items: start;
  text-align: start;
  border-radius: 5px;
  border: 1px solid #cccccc50;
  padding: 0.5rem 1rem;
  background-color: #cccccc30;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
