.App {
  text-align: center;
}
.app {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.workWindow {
  &::-webkit-scrollbar {
    width: 6px;
    @apply rounded-full;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/10;
    @apply rounded-full;
    @apply my-4 py-4;
  }
  &::-webkit-scrollbar-track {
    /* Same as background. Keeping it subtle */
    @apply bg-transparent;
    @apply rounded-sm;
  }
}
header.header {
  grid-area: header;
}
aside.aside {
  /* Default styles */
  grid-area: aside;
  transition: transform 0.3s ease-out;
  transform: translateX(-150%); /* Off-screen by default */
  position: absolute;
  width: 222px;
  @apply z-30;
  @apply bg-background;
  @apply bottom-0 left-0 top-0 h-screen;
}
.app.open {
  display: grid;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
aside.aside.open {
  transform: translateX(0); /* Slide in when open */
}
@media (max-width: 640px) {
  .app.open {
    display: flex;
    flex-direction: column;
  }
}

/* REGION_START: ARCHIVE */

/* Use margin inline start to position main content wrt aside, for smooth transitions  */
main.main {
  grid-area: main;
  margin-inline: 16px;
  border-radius: 24px;
  @apply container mx-auto border;
  @apply pb-6;
  @apply mb-6;
}

/* NOTE: Animating with opacity, and transform is faster and smoother. */
main.main.open {
  /* transform: translateX(222px); */
  margin-inline-start: 222px;
}

@media (max-width: 640px) {
  main.main.open {
    margin-inline-start: 0;
  }
}

.list_window {
  /* @apply rounded-t-[28px]; */
  @apply h-full max-h-[72vh] flex-shrink md:max-h-[68vh];
  /* @apply absolute bottom-0 top-0 h-screen;  */
  @apply overflow-y-auto;
  /* @apply mt-6; */
  @apply scroll-m-6 py-6;

  > section {
    @apply bg-background;
    @apply h-fit;
    @apply mx-1 mb-4 p-6;
    @apply rounded-3xl;
  }

  &::-webkit-scrollbar {
    width: 6px;
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/10;
    @apply rounded-full;
    @apply my-4 py-4;
  }

  &::-webkit-scrollbar-track {
    /* Same as background. Keeping it subtle */
    @apply bg-transparent;
    @apply rounded-sm;
  }
}

/* REGION_END: ARCHIVE */

button.button,
div.button {
  &:hover > svg {
    @apply col-span-1;
    animation: 3s infinite alternate spinslide;
  }
}

button.button {
  @apply flex items-center gap-4;
  @apply hover:bg-muted;
  @apply w-full py-4 ps-6;
}

div.button {
  @apply hover:bg-muted;
  @apply py-4;
  /* @apply pe-8 ; */
}

@keyframes spinslide {
  0% {
    transform: translateX(0%) rotate(72deg);
  }
  25% {
    transform: translateX(25%) rotate(180deg);
  }
  85% {
    transform: translateX(65%) rotate(240deg) scale(0.9);
  }
  100% {
    transform: translateX(80%) rotate(360deg) scale(0.8);
  }
}

/* form { */
/*   width: 350px; */
/*   margin: 20px; */
/*   padding: 12px; */
/*   border: 1px solid gray; */
/* } */

form .formControl {
  display: grid;
  grid-template-columns: 14ch 1fr;
  justify-content: space-between;
  align-items: center;
  @apply mb-2 px-2;
  @apply gap-2;

  > label {
    text-align: left;
    @apply text-sm tracking-wide text-muted-foreground;
  }

  > input[type="checkbox"] {
    margin-inline-start: 1ch;
  }

  > input[type="number"] {
    @apply font-mono;
    &::placeholder {
      font-family: sans-serif;
    }
  }
}

.workspace {
  overflow-y: auto;
  /* @apply grid grid-flow-row-dense max-h-[88vh] mx-0 min-h-[88vh] overflow-y-auto; */
  /* @apply block max-h-[88vh] mx-0 min-h-[88vh] overflow-y-auto; */
  /* @apply block  mx-0  overflow-y-auto; */
  /* @apply space-y-6; */
  /* @apply rounded-[28px]; */
  /* @apply pt-8; */
  /* @media (prefers-color-scheme: dark) { } */
}

/* .workspace section { */
/*     @apply bg-background; */
/*     @apply h-fit; */
/*     @apply mx-4 mb-4 p-8; */
/*     @apply rounded-3xl; */
/**/
/* } */

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: #b318f0;
}

.items {
  display: grid;
  gap: 1rem;
}

.item .avatar {
  border-radius: 1000px;
  border: 1px solid #ccc;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #cccccc30;
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 70%;
  max-width: 600px;
  margin-inline: auto;
  justify-items: start;
  text-align: start;
  border-radius: 5px;
  border: 1px solid #cccccc50;
  padding: 0.5rem 1rem;
  background-color: #cccccc30;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
